**/.git
**/.gitignore
**/.gitattributes
**/.github
**/.vs
**/.vscode
**/.idea
**/.DS_Store
**/Thumbs.db

**/bin
**/obj
**/out
**/publish
**/TestResults
**/coverage
**/node_modules

**/*.user
**/*.suo
**/*.log
**/*.swp

**/appsettings.*.Development.json
**/secrets.json
**/*.env
**/.env*

**/*.db
**/*.db-shm
**/*.db-wal

Dockerfile
.dockerignore
README.md
LICENSE
*.md
